
html {
    background-color: #f1f1f1;
    font-weight:dimgray;
}

a:link {
    text-decoration: #4477CE;
}

a:visited {
    text-decoration: none;
    color:#4477CE;
}

.MainContainer {
    /* background-color: rgb(214,214,214);
    background-color: #f1f1f1; */
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.image{
    margin: 20px;
    margin-top: 50px;
    margin-left: 200px;
    position: fixed; /* Change this line */
    top: 0;
    left: 0;
}

.about{
    font-size: 17px;
    font-weight:normal;
    width: 60%;
    margin-top: 30px;
    margin-left: 650px;
    width: 70%;

}

.experience{
    font-size: 16px;
    font-weight:normal;
    width: 80%;
    padding: 20px;
}
.about-me{
    font-size: 16px;
    font-weight:normal;
    width: 80%;
    padding: 20px;
}

.publications{
    font-weight:normal;
    width: 80%;
    padding: 20px;
}

.accomplishments {
    width: 80%;
    padding: 20px;
}
.PersonalProject{
    border-radius: 10px;
    width: 80%;
    padding: 20px;
}
.project-images{
    width: 100%;
}

hr{
    width: 70%;
}

@media (max-width: 600px) {
    hr{
        width: 100%;
    }
    .MainContainer {
        flex-direction: column;
        width: 100%;
    }
    .image{
        margin-top: 30px;
        margin-left: 30px;
        position: relative; 
        top: 0;
        left: 50px;
    }
    .about{
        margin-left: 0px;
        width: 100%;
    }
    .experience {
        width: 100%;
    }
    .about-me {
        width: 100%;
    }
    .publications {
        width: 100%;
    }
    .accomplishments {
        width: 100%;
    }
    .PersonalProject {
        width: 100%;
    }
    .project-images {
        width: 100%;
    }
}

h6{
    color:#61677A;
    /* color: #445069; */
    /* color:#647D87; */
}

