
html {
    background-color: #f1f1f1;
    font-weight:dimgray;
}

a:link {
    text-decoration: none;
}

.MainContainer {
    background-color: rgb(214,214,214);
    background-color: #f1f1f1;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.image{
    margin: 20px;
    margin-top: 50px;
    margin-left: 200px;
    position: fixed; /* Change this line */
    top: 0;
    left: 0;
}

.about{
    font-size: 17px;
    font-weight:normal;
    width: 60%;
    margin-top: 30px;
    margin-left: 650px;
    width: 70%;

}

.experience{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: #FFF6F6;
    font-size: 16px;
    font-weight:normal;
    width: 70%;
    padding: 20px;
}
.about-me{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: #FFF6F6;
    font-size: 16px;
    font-weight:normal;
    width: 70%;
    padding: 20px;
}

.publications{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: #FFF6F6;
    font-weight:normal;
    width: 70%;
    padding: 20px;
}

.accomplishments {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: #FFF6F6;
    width: 70%;
    padding: 20px;
}
.PersonalProject{
    border-radius: 10px;
    width: 70%;
    background-color: #FFF6F6;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.project-images{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

hr{
    width: 70%;
}

@media (max-width: 600px) {
    hr{
        width: 100%;
    }
    .MainContainer {
        flex-direction: column;
        width: 100%;
    }
    .image{
        margin-top: 30px;
        margin-left: 30px;
        position: relative; 
        top: 0;
        left: 50px;
    }
    .about{
        margin-left: 0px;
        width: 100%;
    }
    .experience {
        width: 100%;
    }
    .about-me {
        width: 100%;
    }
    .publications {
        width: 100%;
    }
    .accomplishments {
        width: 100%;
    }
    .PersonalProject {
        width: 100%;
    }
    .project-images {
        width: 100%;
    }
}


